<div class="mobile hidden z-50">
  <button
    (click)="toggleMenu()"
    class="p-2 rounded-[8px] cursor-pointer btn-hover"
    aria-label="dark mode button"
  >
    <app-menu-icon></app-menu-icon>
  </button>

  @if (isOpen) {
    <div
      class="absolute bg-neutral-900 rounded-[10px] mt-[2rem] border border-neutral-700 w-[100%] right-0 p-4"
    >
      <nav class="">
        <ul class="flex flex-col gap-5 ml-auto">
          <li class="border-b border-neutral-700 p-1">
            <a
              class="nav-link"
              routerLink=""
              routerLinkActive="active-link"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="border-b border-neutral-700 p-1">
            <a class="nav-link" routerLink="blog" routerLinkActive="active-link">Blog</a>
          </li>
          <li class="border-b border-neutral-700 p-1">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
          </li>
          <li class="p-1">
            <a class="nav-link" routerLink="news letter" routerLinkActive="active-link"
              >New Letter</a
            >
          </li>
        </ul>
      </nav>
    </div>
  }
</div>
