@layer base {
  html,
  body {
    font-family: var(--font-sans);
    @apply antialiased text-neutral-400 bg-neutral-900;
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold tracking-tight text-neutral-0;
  }

  h1 {
    @apply text-[32px];
  }
  h2 {
    @apply text-[32px];
  }

  p {
    @apply leading-[2] text-[18px] text-neutral-400;
  }

  a {
    @apply transition-all hover:text-blue-200;
  }

  a:focus-visible {
    @apply outline-none ring-2 ring-blue-500 rounded-sm;
  }

  code,
  pre,
  .snippet-text {
    font-family: var(--font-mono);
  }
}
